/* general @media */

/* header */

@media (max-width: 775px) {
  .header__letter--display-none {
    display: none;
  }
}

@media (max-width: 600px) {
  .header__link {
    padding:0 .6em;
    margin: 0 0.4em;
  }
}

/*footer + scroll-top*/

@media (max-width: 1280px) {
  .footer__text-block {
    width: 80%;
    padding: 0.5em 0;
  }
}

@media (max-width: 900px) {
  .footer__networks-block {
    width: 190px;
    margin-top: 0.4em;
  }

  .footer__network {
    width: 40px;
    height: 40px;
    font-size: 1.5em;
  }
}

@media (max-width: 750px) {
  .footer__text--netflix {
    font-size: 0.8em;
  }

  .footer__image--netflix,
  .footer__image--riot {
    width: 120px;
  }

  .scroll-top {
    bottom: 9em;
    right: 1em;
  }
}

@media (max-width: 540px) {
  .footer__content {
    margin: 0 1em;
  }

  .footer__text--netflix {
    width: 105px;
  }

  .footer__networks-block {
    width: 100%;
    order: 1;
  }

  .footer__text-block {
    order: 2;
  }
}

/* главная nav */

@media (max-width: 1750px) {
  .nav__letter {
    width: 55px;
    height: 80px;
  }
}

@media (max-width: 1200px) {
  .nav {
    width: 26%;
  }

  .nav__letter {
    width: 40px;
    height: 62px;
  }

  .nav__game-logo--image {
    width: 240px;
  }
}

@media (max-width: 780px) {
  .nav {
    top: 2%;
    left: 2%;
    align-items: flex-start;
  }

  .nav__riot-logo--block {
    display: none;
  }

  .nav__links--block {
    margin-top: 3em;
  }
}

/* page-video @media */

@media (max-width: 1200px) {
  .trailer__first-video,
  .trailer__second-video {
    width: 90%;
    height: 50%;
  }
}

@media (max-width: 900px) {
  .trailer__first-video,
  .trailer__second-video {
    width: 90%;
    height: 25%;
  }
}

@media (max-width: 850px) {
  .video-section:before {
    background-image: url("../images/img_decor/glass-top-mobile.png");
    background-size: 100%;
  }

  .video-section:after {
    background-image: url("../images/img_decor/glass-bottom-mobile.png");
    background-size: 100%;
  }
}

@media (max-width: 640px) {
  .video-section__text {
    font-size: .8em;
  }
  .video-section__letter--size-big {
    width: 65px;
    height: 85px;
  }

  .video-section__game-logo {
    width: 250px;
  }

  .series__link {
    width: auto;
    height: auto;
  }

  .series__image-block {
    padding: 3px;
    clip-path: none;
  }

  .series__image-block:before {
    content: none;
  }

  .series__image {
    width: 99%;
  }

  .series__icon {
    top: -53px;
    right: 10px;
  }
}

@media (max-width: 600px) {
  .trailer__text--block {
    font-size: 1.2em;
  }

  .trailer__icon {
    font-size: 2.5em;
  }
}

/* page-gallery @media */

@media (max-width: 1200px) {
  .slider__container {
    height: 53vh;
  }
}

@media (max-width: 920px) {
  .slider__container {
    height: 40vh;
  }

  .slider__left-button {
    left: -30px;
  }

  .slider__right-button {
    right: -30px;
  }

  .slider__close {
    top: -35px;
    right: -35px;
  }
}

@media (max-width: 600px) {
  .slider__container {
    height: 27vh;
  }
}

/* page-creators @media */

@media (max-width: 1200px) {
  .creation__video_1,
  .creation__video_2,
  .creation__video_3,
  .creation__video_4,
  .creation__video_5,
  .creation__video-KDA,
  .creation__video-RISE,
  .creation__video-JvsE,
  .creation__video-Enemy,
  .creation__video-Sting {
    width: 90%;
    height: 50%;
  }
}

@media (max-width: 900px) {
  .creation__video_1,
  .creation__video_2,
  .creation__video_3,
  .creation__video_4,
  .creation__video_5,
  .creation__video-KDA,
  .creation__video-RISE,
  .creation__video-JvsE,
  .creation__video-Enemy,
  .creation__video-Sting {
    width: 90%;
    height: 35%;
  }
}

@media (max-width: 1380px) {
  .creator, .comment {
    flex-wrap: wrap;
    justify-content: center;
  }

  .block_without_video {
    width: fit-content;
  }

  .creator__card {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .creator__card--width-big {
    width: 330px;
  }

  .creator__card--width-low {
    width: 215px;
  }

  .creator__card:hover {
    transform: scale(1.3);
    border-radius: 20px;
  }

  .creator__card:hover .creator__info {
    position: relative;
    border: none;
    background-color: transparent;
    font-size: .9em;
  }

  .comment__block {
    margin: 1em;
  }
}

@media (max-width: 1190px) {
  .creator, .comment {
    flex-direction: column;
  }

  .creator__card:hover {
    transform: scale(1.5);
  }

  .comment__img--block {
    flex-wrap: wrap;
  }

  .audio__block {
    justify-content: center;
  }

  .audio {
    width: 50%;
  }
}

@media (max-width: 830px) {
  .quote {
    width: 90%;
  }

  .comment__img:hover {
    transform: scale(1.5);
  }
}

@media (max-width: 680px) {
  .creator__card:hover {
    transform: scale(1.3);
  }

  .comment__img:hover {
    transform: scale(1.3);
  }

  .audio__block {
    flex-direction: column;
  }

  .audio {
    width: 80%;
  }
}

@media (max-width: 600px) {
  .video {
    width: 450px;
  }

  .creator__card:hover {
    transform: scale(1.2);
  }

  .comment__img:hover {
    transform: scale(1.3);
  }

  .comment__img--size-big {
    width: 350px;
    height: 135px;
  }
}