body {
  background-image: url(images/bg.jpg);
}

/*анимации при загрузке страницы*/

.character-gallery--jinx {
  animation: width 2s;
}

@keyframes width {
  0% {
    z-index: 1;
    width: 70%;
  }

  100% {
    z-index: 1;
    width: 25%;
  }
}

.character-gallery--caitlyn,
.character-gallery--vi {
  animation: translateX 2s;
}

@keyframes translateX {
  0% {
    transform: translateX(596px);
  }
  100% {
    transform: translateX(0);
  }
}

.character-gallery--silco,
.character-gallery--jayce {
  animation: minusTranslateX 2s;
}

@keyframes minusTranslateX {
  0% {
    transform: translateX(-596px);
  }
  100% {
    transform: translateX(0);
  }
}

/* character-gallery */

.character-gallery--section {
  display: flex;
  height: 100vh;
  font-size: 1rem;
}

.character-gallery__link {
  width: 25%;
  cursor: pointer;
  transition: all .5s ease-out;
}

.character-gallery__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* стили для gallery_hover.js */

.hover {
  width: 48%;
  filter: none;
}

.not-hover {
  filter: grayscale(0.8) blur(2px);
}

/*галерея картинок*/

.gallery {
  position: fixed;
  z-index: 1;
  top: 50%;
  left: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.9);
  font-size: 1rem;
  visibility: hidden;
  opacity: 0;
  transition: all .3s;
}

.gallery--caitlyn.visible,
.gallery--vi.visible,
.gallery--jinx.visible,
.gallery--silco.visible,
.gallery--jayce.visible {
  visibility: visible;
  opacity: 1;
}

.gallery__close {
  position: fixed;
  z-index: 3;
  top: 30px;
  right: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 13px;
  box-shadow: 4px 4px 15px 0 rgb(0 0 0 / 50%);
  background-color: white;
  color: black;
  font-size: 1em;
  cursor: pointer;
  transition: all .5s;
}

.gallery__close:hover {
  padding: 0.3em 0.3em 0.3em;
  border: 1px solid white;
  border-radius: 0;
  box-shadow: 7px 7px 20px 0 rgb(0 0 0 / 70%);
  background-color: black;
  color: white;
  font-size: 1.6em;
}

.gallery__close:active {
  transform: translateY(3px);
}

.gallery__card {
  position: relative;
  width: 550px;
  height: 250px;
  border: 3px solid black;
  border-radius: 5px;
  margin: 0.4em;
  box-shadow: 3px 5px 10px 2px rgb(0 0 0);
  cursor: pointer;
  transition: all .5s;
}

.gallery__card:hover {
  z-index: 2;
  transform: scale(1.03);
}

.gallery__image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* slider */

.slider {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  pointer-events: none;
  opacity: 0;
}

.slider__container {
  position: relative;
  top: 50%;
  left: 50%;
  width: 80vw;
  height: 80vh;
  transform: translate(-50%, -50%);
  background-color: #fff;
}

.active {
  pointer-events: all;
  opacity: 1;
}

.slider__button {
  position: absolute;
  z-index: 2;
  top: 50%;
  display: inline-block;
  padding: 0.2em 0.4em;
  border: 1px solid #575757;
  border-radius: 38px;
  transform: translateY(-50%);
  box-shadow: 4px 4px 15px 0 rgb(0 0 0 / 50%);
  background: none;
  color: white;
  font-size: 1.7em;
  cursor: pointer;
  transition: all .4s;
}

.slider__button:hover {
  box-shadow: 7px 7px 20px 0 rgb(0 0 0 / 70%);
  background-color: white;
  color: black;
}

.slider__left-button {
  left: -70px;
  transition: all .5s;
}

.slider__right-button {
  right: -70px;
  transition: all .5s;
}

.slider__left-button:active {
  transform: translateY(-22px) translateX(-7px);
}

.slider__right-button:active {
  transform: translateY(-22px) translateX(7px);
}

.slider__close {
  position: absolute;
  z-index: 2;
  right: -60px;
  top: -60px;
  padding: 0 0.3em;
  border: none;
  background: none;
  color: white;
  font-size: 2em;
  cursor: pointer;
  transition: all .5s;
}

.slider__close:hover {
  transform: scale(1.25);
}

.slider__close:active {
  transform: scale(1);
}

/*frames*/

.frames {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3em;
  font-size: 1rem;
}

.frames__carousel {
  overflow: hidden;
  height: 540px;
}

.frames__image-container {
  display: flex;
  transform: translateX(0);
  transition: transform 0.5s ease-in-out;
}

.frames__image {
  width: 635px;
  height: 500px;
  object-fit: cover;
}

.frames__buttons-container {
  display: flex;
  justify-content: center;
}

.frames__button {
  display: inline-block;
  overflow: hidden;
  width: 80px;
  padding: 0.5rem 1.2em;
  border: 1px solid black;
  margin: 0 1em;
  box-shadow: 2px 2px 9px 0 rgb(0 0 0 / 80%);
  background-color: rgba(30, 30, 30, 0.9);
  color: white;
  font-size: .9em;
  font-weight: bold;
  transition: all .3s;
  cursor: pointer;
}

.frames__button:hover {
  width: 140px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
}

#left-button:active {
  color: black;
  transform: translateX(-10px);
}

#right-button:active {
  color: black;
  transform: translateX(10px);
}

  /* просто блок для разделения */

.border {
  width: 100%;
  height: 25px;
  box-shadow: 0 10px 31px 10px rgb(0 0 0);
  background-image: url(../images/img_decor/header_bg.jpg);
  background-size: contain;
}

/* @media */

@media (max-width: 1200px) {
  .slider__container {
    height: 53vh;
  }
}

@media (max-width: 920px) {
  .slider__container {
    height: 40vh;
  }

  .slider__left-button {
    left: -30px;
  }

  .slider__right-button {
    right: -30px;
  }

  .slider__close {
    top: -35px;
    right: -35px;
  }
}

@media (max-width: 600px) {
  .slider__container {
    height: 27vh;
  }
}