@import "css/index_nav.css";
@import "css/index_toggle-nav.css";

body{
  background-image: url("images/main_bg.png");
  background-position: center;
}

/* header и footer для главной страницы */

.header {
  display: none;
}

.footer {
  position: fixed;
  bottom: 0;
}

.header,
.footer {
  box-shadow: none;
  opacity: .2;
  transition: box-shadow 1.5s, opacity 1s;
  animation: opacityLow 2s ease-in;
}

.header:hover,
.footer:hover {
  box-shadow: 0 -5px 31px 10px rgba(0, 0, 0, 0.9);
  opacity: 1;
}