body{
  background-image: url("images/main_bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.nav,
.footer {
  animation: opacity 2s ease-in;
}

@keyframes opacity {
  0% {opacity: 0;}
  100% {opacity: .2;}
}

/*футер для главной страницы*/

.footer {
  position: fixed;
  bottom: 0;
  transition: 1s;
  opacity: .2;
}

.footer:hover {
  opacity: 1;
}

 /* nav */

.nav {
  font-family: 'Oswald', sans-serif;
  font-size: 1rem;
  position: absolute;
  top: 13%;
  left: 12%;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: .2;
  transition-duration: 1s;
}

.nav:hover {
  opacity: 1;
}

.nav__riot-logo--block {
  transition-duration: 1s;
}

.nav__riot-logo--image {
  width: 150px;
  height: 60px;
  object-fit: cover;
}

.nav__arcane-logo--block {
  padding-bottom: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 1s;
}

.nav__riot-logo--block:hover,
.nav__arcane-logo--block:hover {
  transform: scale(1.1);
}

.nav__riot-logo--block:active,
.nav__arcane-logo--block:active {
  transform: scale(1);
}

.nav__letter--block {
  padding: 0 .3em;
}

.nav__letter {
  width: 70px;
  height: 95px;
  transition-duration: 1s;
}

.nav__game-logo--image {
  width: 320px;
  transition-duration: 1s;
}

.nav__links--block {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.nav__link {
  margin: 0.5em 1em;
  opacity: .8;
  display: inline-block;
  position: relative;
  overflow: hidden;
  padding: 0.5em 2em;
  font-size: .9em;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: .11em;
  color: #d2d2d2;
  z-index: 1;
  transition: .2s ease-in;
}

.nav__link:before {
  content: "";
  background-image: url("images/img_decor/header_bg.jpg");
  background-size: cover;
  filter: invert(1);
  position: absolute;
  z-index: -1;
  padding: 0.85em 0.75em;
  display: inline-block;
  transition: .3s cubic-bezier(0.22, 0.61, 0.36, 1);
  top: 0;
  bottom: 0;
  left: 100%;
  right: -100%;
}

.nav__link:after {
  content: '';
  display: block;
  transition: .3s cubic-bezier(0.22, 0.61, 0.36, 1);
  margin: 0.2em 0;
  width: 0;
  height: 1px;
  background: black;
}

.nav__link:hover {
  color: black;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
  opacity: 1;
  transform: scale(1.1);
}

.nav__link:hover:before {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.nav__link:hover:after {
  width: 100%;
  transform: scale(1.1);
}

.nav__link:active {
  transform: translateY(1px);
}

@media (max-width: 1750px) {
  .nav__letter {
    width: 55px;
    height: 80px;
  }
}

@media (max-width: 1200px) {
  .nav {
    width: 26%;
  }

  .nav__letter {
    width: 40px;
    height: 62px;
  }

  .nav__game-logo--image {
    width: 240px;
  }
}

@media (max-width: 780px) {
  .nav {
    top: 2%;
    left: 2%;
    align-items: flex-start;
  }

  .nav__riot-logo--block {
    display: none;
  }

  .nav__links--block {
    margin-top: 3em;
  }
}