body {
  overflow-x: hidden;
  background-image: url(images/video_bg.jpg);
}

.header {
  animation: opacity 2s ease-in;   /*анимации при загрузке страницы*/
}

/* video-section */

.video-section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 1rem;
}

.header__link {   /*кнопки отображаются над before*/
  z-index: 1;
}

.video-section:before {
  content: '';
  position: absolute;
  z-index: 0;
  top: -82px;
  width: 100%;
  height: 550px;
  background-image: url("../images/img_decor/glass-top.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  animation: showTop 2s;    /*анимации при загрузке страницы*/
}

.video-section:after {
  content: '';
  position: absolute;
  bottom: 62px;
  width: 100%;
  height: 440px;
  background-image: url("../images/img_decor/glass-bottom.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  animation: showBot 2s;    /*анимации при загрузке страницы*/
}

@keyframes showTop {
  from {
    top:-100%;
  }
  to {
    top:-82px;
  }
}

@keyframes showBot {
  from {
    bottom:-100%;
  }
  to {
    bottom:62px;
  }
}

.video-section__video--block {
  position: absolute;
  z-index: -1;
  top: -62px;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  box-shadow: 0 20px 31px 14px rgb(0 0 0);
  background: url("images/video_bg.jpg") no-repeat center center;
  background-size: cover;
  opacity: 0;
  transform: scale(5);
  animation: zoom 2s;         /*анимации при загрузке страницы*/
  animation-fill-mode: forwards;
}

@keyframes zoom {
  0% {
    opacity: 0;
    transform: scale(5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.video-section__video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
}

.video-section__logo--block {
  position: absolute;
  top: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.video-section__text--block {
  padding-bottom: 1em;
  opacity: 0;
  transition: all 1s;
  animation: opacity 1.5s ease-in;   /*анимации при загрузке страницы*/
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
}

.video-section__text {
  color: #EDE0CE;
  font-size: .9em;
  letter-spacing: .1em;
  text-transform: uppercase;
}

.video-section__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 1em;
  opacity: 0;
  animation: zoomLogo 1.5s ease-in; /*анимации при загрузке страницы*/
  animation-delay: 2s;
  animation-fill-mode: forwards;
}

@keyframes zoomLogo {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.video__letter--block {
  padding: 0 0.3em;
}

.video-section__letter--size-big {
  width: 90px;
  height: 120px;
  transition: all 1s;
}

.video-section__game-logo--block {
  opacity: 0;
  animation: zoomLogo 1.5s ease-in;  /*анимации при загрузке страницы*/
  animation-delay: 2s;
  animation-fill-mode: forwards;
}

.video-section__game-logo {
  width: 400px;
  transition: all 1s;
}

.video-section__button {
  position: absolute;
  z-index: 1;
  bottom: 77px;
  left: 0;
  width: 170px;
  padding: 0.4em;
  border-radius: 5px;
  margin: 0 1em;
  background: transparent;
  color: #a8a8a8;
  font-size: .9em;
  cursor: pointer;
  transition: all .5s;
}

.video-section__button:hover {
  background: rgba(0, 0, 0, 0.6);
  color: #ffffff;
}

/*трейлеры*/

.trailers {
  margin: 1em 0;
  font-size: 1rem;
}

.trailers__block {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.trailer__link {
  position: relative;
  width: 550px;
  height: 750px;
  border: 4px solid #5e3e5d;
  border-radius: 35px;
  margin: 1em;
  box-shadow: 3px 5px 10px 2px rgb(0 0 0);
  transition: all 1s;
  cursor: pointer;
}

.trailer__link:hover {
  border-color: wheat;
  box-shadow: 5px 7px 12px 4px rgb(0 0 0);
  transform: scale(1.05);
}

.trailer__image-block {
  width: 100%;
  height: 100%;
}

.trailer__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 32px;
  transition: all .5s;
}

.trailer__text--block {
  position: absolute;
  top: 35%;
  left: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  padding: .2em 2.3em;
  border: 2px solid rgba(0, 0, 0, 0.8);
  border-radius: 75px;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 10px 0 #BD9772 inset, 0 0 10px 4px #BD9772;
  background: rgba(85, 69, 42, 0.8);
  background: linear-gradient(90deg, rgba(85, 69, 42, 0.8) 0%,
  rgba(174, 126, 87, 0.8) 36%, rgba(206, 165, 121, 0.8) 76%, rgba(237, 224, 206, 0.8) 100%);
  color: rgba(0, 0, 0, 0.8);
  font-size: 1.4em;
  text-align: center;
  transition: all .5s;
}

.trailer__link:hover .trailer__text--block {
  opacity: 0;
}

.trailer__text {
  margin: .3em 0;
}

.trailer__icon {
  font-size: 3em;
}

/*popup trailer*/

.trailer__first-video--block,
.trailer__second-video--block {
  position: fixed;
  z-index: 1;
  top: 50%;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.85);
  font-size: 1rem;
  visibility: hidden;
  opacity: 0;
  transition: all .3s;
}

.trailer__first-video--block.active,
.trailer__second-video--block.active {
  visibility: visible;
  opacity: 1;
}

.trailer__first-video,
.trailer__second-video {
  position: relative;
  width: 75%;
  height: 82%;
  border: 5px solid wheat;
  border-radius: 25px;
  outline: none;
}

.trailer__close {
  position: fixed;
  top: 30px;
  right: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 13px;
  box-shadow: 4px 4px 15px 0 rgb(0 0 0 / 50%);
  background-color: white;
  color: black;
  font-size: 1em;
  transition: all.5s;
  cursor: pointer;
}

.trailer__close:hover {
  padding: 0.3em 0.3em 0.3em;
  border: 1px solid white;
  border-radius: 0;
  box-shadow: 7px 7px 20px 0 rgb(0 0 0 / 70%);
  background-color: black;
  color: white;
  font-size: 1.6em;
}

.trailer__close:active {
  transform: translateY(3px);
}

/*ссылки на сериал*/

.series {
  font-size: 1rem;
}

.series__block {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
}

.series__link {
  width: 605px;
  height: 426px;
  margin: .5em;
  box-shadow: 3px 5px 10px 2px rgb(0 0 0);
  background-color: #EDE0CE;
  text-decoration: none;
  transition: all .5s ease-in;
}

.series__link:hover {
  transform: scale(1.05);
}

.series__image-block {
  position: relative;
  width: 100%;
  height: 80%;
  clip-path: polygon(50% 0%, 100% 0, 100% 44%, 100% 95%,
    95% 95%, 92% 101%, 56% 100%, 48% 95%, 0 95%, 0 0);
}

.series__image-block:before {
  content: '';
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 341px;
  background-image: url(../images/img_decor/decor-dark.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.series__link:hover > .series__image-block:before {
  background-image: url(../images/img_decor/decor-light.png);
  transition: all .5s ease-in;
}

.series__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.series__content-block {
  position: relative;
  text-align: center;
}

.series__icon {
  position: absolute;
  top: -335px;
  right: 10px;
  color: #4F364D;
  font-size: 2em;
  transition-duration: .5s;
}

.series__link:hover .series__icon {
  color: rgb(183 147 53 / 77%);
}

.series_title {
  padding: 0.2em;
  color: #332332;
  font-size: 1.7em;
}

.series_title:after {
  content: "";
  position: relative;
  z-index: 1;
  bottom: 2px;
  display: block;
  width: 0;
  border-bottom: 4px double #B81D24;
  margin: auto;
  text-shadow: 1px 1px 1px rgba(189, 151, 114, .5);
  transition: all 1s;
}

.series__link:hover .series_title:after {
  width: 85%;
}

.series__text {
  color: #5e3e5d;
  font-size: 1.1em;
}

.series__link:hover .series_text--hover {
  color: #B81D24;
  font-weight: bold;
  transition: all 1s;
}

/* @media */

@media (max-width: 1200px) {
  .trailer__first-video,
  .trailer__second-video {
    width: 90%;
    height: 50%;
  }
}

@media (max-width: 900px) {
  .trailer__first-video,
  .trailer__second-video {
    width: 90%;
    height: 25%;
  }
}

@media (max-width: 850px) {
  .video-section:before {
    background-image: url("../images/img_decor/glass-top-mobile.png");
    background-size: 100%;
  }

  .video-section:after {
    background-image: url("../images/img_decor/glass-bottom-mobile.png");
    background-size: 100%;
  }
}

@media (max-width: 640px) {
  .video-section__text {
    font-size: .8em;
  }
  .video-section__letter--size-big {
    width: 65px;
    height: 85px;
  }

  .video-section__game-logo {
    width: 250px;
  }

  .series__link {
    width: auto;
    height: auto;
  }

  .series__image-block {
    padding: 3px;
    clip-path: none;
  }

  .series__image-block:before {
    content: none;
  }

  .series__image {
    width: 99%;
  }

  .series__icon {
    top: -53px;
    right: 10px;
  }
}

@media (max-width: 600px) {
  .trailer__text--block {
    font-size: 1.2em;
  }

  .trailer__icon {
    font-size: 2.5em;
  }
}